.footer {
  background: rgb(38, 38, 38);
  height: 18vh;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 780px) {
  .footer {
    flex-direction: row;
  }
  .social-links a {
    font-size: 2.5em !important;
  }
  .name {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.3em;
    margin-top: unset !important;
  }
}

.social-links {
  width: 100%;
  text-align: center;
}

.social-links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-links li {
  list-style-type: none;
}

.social-links a {
  text-decoration: none;
  color: rgb(127, 216, 247);
  font-size: 1.6em;
}

.social-links a:hover {
  cursor: pointer;
  opacity: 0.8;
}

.name {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 1em;
}

.name span {
  color: rgb(127, 216, 247);
}
